#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
	padding: 20px;
}

.checkbox {
  clear: both;	
}

.form-holder {
	float: left;
	width: 50%;
	padding: 20px;
}

.form-group,.checkbox {
	margin: 20px 0;
}

.checkbox label {
	margin-right: 20px;
}

.alert {
	float: left;
	margin: 10px;
	word-wrap: break-word;
}

.info {
	padding: 20px; width : 50%;
	float: right;
	width: 50%;
}

.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline {
	margin-right: 10px;
}

@media ( max-width : 600px) {
	.form-holder,.info {
		float: left;
		width: 100%;
	}
	.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline {
		float: left;
	}
}